[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = false

[packages]
flask = "*"
langchain = "==0.1.16"
marshmallow = "*"
marshmallow-enum = "*"
pillow = "==10.3.0"
openai = "*"
huggingface-hub = "*"
transformers = "==4.38.0"
sentence-transformers = "*"
torch = {index = "pytorch", version = "==1.13.1+cu117"}
torchvision = {index = "pytorch", version = "==0.14.1+cu117"}
pytorch-lightning = "==2.0.1"
unstructured = "==0.6.2"
clip-interrogator = "==0.5.4"
accelerate = "==0.18.0"
"pdfminer.six" = "*"
bitsandbytes = "==0.35.4"
cython = "==0.29.34"
chromadb = "*"
#chromadb = "==0.3.21"
clickhouse-connect = "==0.5.22"
#bardapi = {git = "https://github.com/dsdanielpark/Bard-API.git"}
bardapi = "*"
google-cloud-aiplatform = "==1.28.1"
langchain-google-genai = "==1.0.1"
langchain-google-vertexai = "==1.0.1"
pdf2image = "==1.17.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
